.btn-call{
	font-size:16px;
	background-color:#56ba60 !important;
	position:absolute;
	padding:5px 50px;
	right:50px;
	top:120px;
	color:#f3f4f6 !important;
}
.btn-big{
	background-color:#f3f4f6 !important;
	height:100%;
}
.btn-no-border{
	border:0px;
}
.no-padding{
	padding:0px;
}
.panel{
	background-color:#f3f4f6;
	border:1px solid #dadbdd;
}
.text-color{
	color:#5f6062;
}
.all-font{
	font-size:16px;
	color:#cdced0;
}
.small{
	font-size:12px;
	color:#d8d9db;
}