.calendar-week .calendar-week-table {
	min-width:1024px;
	width:100%;
}
.calendar-week .calendar-week-table  div{
	width:12px;
	height:12px;
	border-radius:100%;
	background:#d8d9db;
}
.calendar-week .calendar-week-table td{
	width:25px;
	text-align:center;
	height:60px;
}
.calendar-week .container{
	width:99%;
	min-width:1048px;
}

.calendar-week .calendar-week-table .weekDay{
	font-size:18px;
}
.calendar-week .calendar-week-table .ui-selected div{
	color:white;
	background:#56ba60;
	max-width:100%;
	min-width:100%;
	height:18px;
	border-radius:15px;
	padding-top:1px;
	font-size:80%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.calendar-week .calendar-week-table .ui-selecting div{
	background:#67e176;
	height:18px;
	width:100%;
	border-radius:15px;
	padding-top:1px;
}
.calendar-week .calendar-week-table .ui-unselecting div{
	background:#d03d1d;
	color:white;
	height:18px;
	width:100%;
	border-radius:15px;
	padding-top:1px;
	font-size:80%;
}
.calendar-week .calendar-week-table .ui-selecting span{
	display:none;
}
