<nav class="navbar navbar-default" role="navigation" bs-navbar>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="home" bs-tooltip="{title:'Go home'}" data-placement="right" ><img style="border-radius:12px;" height="24" width="24" alt="Babystep"src="/babystep/client/public/img/logo.png"></a>
		</div>
		<ul ng-show="vm.menus.length>0" class="nav navbar-nav">
			<li bs-tooltip="{title:menu.name}" data-placement="bottom" ui-sref-active="active"  ng-repeat="menu in vm.menus"><a ui-sref="{{menu.state}}">{{menu.name}}</a></li>
		</ul>
		<intro-button></intro-button>
	</div>
</nav>
<div class="container-fluid" ui-view></div>


